body 
{
    background-color: grey;
}

#main
{
    /* padding: 10px; */
    width: 100vw;
    height: 100vh;
}

.dark-mode {
    background-color: black;
    color: white;
  }

.component 
{
    height: 30vh;
    width: 30vw;
    margin: 10px;
    padding: 5px;
    float: left;
}

.one
{    
    background-color: pink;
}

.two
{
    background-color: red;
}

.three
{
    background-color: yellow;
}

.four
{
    background-color: orange;
}

.pir
{
    padding: 10px 20px;
    background-color: pink;
    height: 30vh;
    width: 90vw;
}

#pir-log
{
    background-color: yellow;
}