<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        <link rel="stylesheet" href='/static/style.css' />
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                var socket = io();
                //let is_running = false;

                socket.on('set_darkmode', function(mode_text){
                    $("body").addClass("dark-mode");
                    $("#color-mode").text(mode_text);

                });
                socket.on('set_lightmode', function(mode_text){
                    $("body").removeClass("dark-mode");
                    $("#color-mode").text(mode_text);
                });
                    
                $('#start-servo').click(function() {
                    socket.emit('toggle_servo', 1);                    
                });            
                $('#stop-servo').click(function() {
                    socket.emit('toggle_servo', 0);
                });

                socket.on('check_is_running', function(is_running) {
                    $(".servo").append(is_running);
                });
            });
            
        </script>
    </head>

<body>
<div id="main">
    <section id="color-mode"></section>

    <section class="servo">
        This is the Servo Page
        <div>
            <button id="start-servo" type="submit">start servo</button>
        </div>
        <div>
            <button id="stop-servo" type="submit">stop servo</button>
        </div>
        <div>
            <p>Testing slider control of servo</p>
            <form method="POST" action="test">
                <p>Slider 1 <input type="range" min="1" max="12.5" name="slider1" /> </p>
                <input type="submit" value="submit" />
            </form>
        </div>

        

    </section>
    
    
</div>



</body>
</html>

